<div class="anime-cb-screen-browse-rooms anime-cb-screen">
	<div class="center-screen">
		<div class="anime-cb-title-page">
			<h1>Browse Rooms</h1>
		</div>
		<div class="user-message"></div>
		<div class="anime-cb-screen_footer">
			<button type="button" class="btn btn-primary anime-cb-button anime-cb-btn-main-menu">Main Menu</button>
		</div>
	</div>
</div>