<div class="anime-cb-screen-create-room anime-cb-screen">
	<div class="center-screen">
		<div class="anime-cb-title-page">
			<h1>Create Room</h1>
		</div>
		<div class="user-message"></div>
		<form id="anime-cb-form-create-room" class="anime-cb-form" action="#">
			<div class="anime-cb-box anime-cb-box-create-room">
			  <div class="form-group">
			    <label for="room_name">Room Name:</label>
			    <input type="text" class="form-control" id="room_name" name="room_name">
			    <div class="errors"></div>
			  </div>
			  <img class="spinner" src="/imgs/spinner.gif">
			  <button id="anime-cb-submit-create-room" type="submit" class="btn btn-default">Create Room</button>
			  <button id="anime-cb-reset-create-room" class="btn btn-default">Reset</button>
			</div>
		</form>
		<div class="anime-cb-screen_footer">
			<button type="button" class="btn btn-primary anime-cb-button anime-cb-btn-main-menu">Main Menu</button>
		</div>
	</div>
</div>