<div class="anime-cb-screen-game anime-cb-screen">
<div id="mystickytooltip" class="stickytooltip">
	<div style="padding:5px">
		<div id="activateEffect" class="atip">Activate Card</div>
		<div id="summonCard" class="atip">Summon Card</div>
		<div id="destroyCard" class="atip">Destroy Card</div>
		<div id="takeCard" class="atip">Take Card</div>
		<div id="selectCard" class="atip">Select Card</div>
		<div id="discardCard" class="atip">Discard Card</div>
		<div id="playSound" class="atip">Play Sound</div>
		<div id="rollDie" class="atip">Roll Die</div>
		<div id="drawCardDeck" class="atip">Draw Card</div>
		<div id="switchPhaseRoll" class="atip">Switch to Roll Phase</div>
		<div id="switchPhaseEnd" class="atip">End your turn</div>
		<div id="chainCard" class="atip">Chain Card</div>
	</div>
	<div class="stickystatus"></div>
</div>
</div>
</div>