<div class="anime-cb-screen-game anime-cb-screen">
	<div class="center-screen">
		<div class="anime-cb-title-page">
			<h1>Game</h1>
		</div>
		<div class="user-message">{{userMessage}}</div>
		<div class="anime-cb-screen_footer">
			<button type="button" class="btn btn-primary anime-cb-button anime-cb-btn-browse-rooms">Surrender</button>
		</div>
	</div>
</div>