<div class="anime-cb-screen-game anime-cb-screen">
<div id="mystickytooltip" class="stickytooltip">
	<div style="padding:5px">
	<div id="activateEffect">Activate</div>
	</div>
	<div class="stickystatus"></div>
</div>
</div>