<div class="anime-cb-screen-game anime-cb-screen">
<div id="mystickytooltip" class="stickytooltip">
	<div style="padding:5px">
		<div id="activateEffect" class="atip">Activate</div>
		<div id="summonCard" class="atip">Summon</div>
		<div id="destroyCard" class="atip">Destroy</div>
		<div id="takeCard" class="atip">Take</div>
		<div id="selectCard" class="atip">Select</div>
		<div id="discardCard" class="atip">Discard</div>
	</div>
	<div class="stickystatus"></div>
</div>
</div>
</div>