<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <meta charset="utf-8">
    <link rel="icon" href="/imgs/dice.webp">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/jquery-ui-dist/jquery-ui.css">
    <script src="/jquery/dist/jquery.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/ajv/dist/ajv.min.js"></script>
    <script src="/stickytooltip/stickytooltip.js"></script>
    <script src="/jquery-ui-dist/jquery-ui.min.js"></script>
    <script src="/log4javascript/log4javascript.js"></script>
    <script type="text/javascript" src="/roll-a-die/dist/roll-a-die.js"></script>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

<script type="text/javascript">
    window.onerror = function (msg, url, lineNo, columnNo, error) {
      if (($('.anime-cb-screen-game').is(':visible') || _gameClient.gameController._postGame) && !_gameClient.gameController._gameplayData) {
        return;
      }

      window.alert('There was a problem while processing your request.');
      if(error !== null) {
        if(error.stack != '') {
          logger.error(error.name + ': ', error.message + '\n' + error.stack);
        } else {
          logger.error(error.name + ': ', error.message + '\n' + url + ':' + lineNo + ':' + columnNo + '\n');
        }
      } else if(ajv.errors) {
        logger.error('Request didn\'t return a valid JSON object\n' + JSON.stringify(ajv.errors, null, 2));
      } else {
        logger.error(msg + ': ' + url + ': ' + lineNo + ': ' + columnNo + '\n');
      }
      // make return true in production environment, returning true prevents the firing of the default event handler.
      return false;
    };

    const logger = log4javascript.getLogger();
    const ajaxAppender = new log4javascript.AjaxAppender('/frontend_logger');

    ajaxAppender.setSendAllOnUnload();
    ajaxAppender.setTimerInterval({{FRONTEND_LOGGER_INTERVAL}});
    ajaxAppender.setTimed(true);

    logger.addAppender(ajaxAppender);

    function getLogger() {
      return logger;
    }

    var ajv = new Ajv({ allErrors: true });

    function assert(condition, message) {
        if (!condition) {
          message = message || 'Assertion failed';
          if (typeof Error !== 'undefined') {
            throw new Error(message);
          }
          throw message;
        }
    }
</script>

<div id="acb-main-wrapper">