<div class="anime-cb-screen-info anime-cb-screen">
	<div class="center-screen">
		<div class="anime-cb-title-page">
			<h1>Game Info</h1>
		</div>
		<div class="btn-group-vertical anime-cb-btn-group">
			<button type="button" class="btn btn-primary anime-cb-button anime-cb-btn-rules">Game Rules</button>
			<button type="button" class="btn btn-primary anime-cb-button anime-cb-btn-cards">Cards Info</button>
			<button type="button" class="btn btn-primary anime-cb-button anime-cb-btn-characters">Characters Info</button>
		    <button type="button" class="btn btn-primary anime-cb-button anime-cb-btn-main-menu">Back to Main Menu</button>
		    <img class="pre-screen-spinner" src="/imgs/spinner.gif">
	 	</div>
	</div>
</div>