<div class="anime-cb-screen-lobby anime-cb-screen">
	<div class="center-screen">
		<div class="anime-cb-title-page">
			<h1 class="anime-cb-title-lobby"></h1>
			<h2 class="anime-cb-players-lobby"></h2>
			<h2 class="anime-cb-waiting-players-lobby">Waiting for another player<span class="dots"><span>.</span><span>.</span><span>.</span></span></h2>
		</div>
		<div class="user-message"></div>
		 <div class="errors"></div>
		<div class="anime-cb-screen_footer">
			<button id="anime-cb-destroy-room" type="button" class="btn btn-primary anime-cb-button anime-cb-btn-main-menu">Leave</button>
		</div>
	</div>
</div>