<div class="anime-cb-screen-lobby anime-cb-screen">
	<div class="center-screen">
		<div class="anime-cb-title-page">
			<h1 class="anime-cb-title-lobby"></h1>
		</div>
		<div class="user-message"></div>
		<div class="anime-cb-screen_footer">
			<button id="anime-cb-destroy-room" type="button" class="btn btn-primary anime-cb-button anime-cb-btn-main-menu">Leave</button>
		</div>
	</div>
</div>