<div class="anime-cb-screen-main-menu anime-cb-screen">
	<div class="center-screen">
		<div class="anime-cb-title-page">
			<h1>Welcome to Anime Card Board Game</h1>
		</div>
		{{#if userMessage}}
			<div class="user-message">{{userMessage}}</div>
		{{/if}}
		<div class="btn-group-vertical anime-cb-btn-group">
		{{#if session.isUserLoggedIn}}
			<button type="button" class="btn btn-primary anime-cb-button logged-in">Create Room</button>
		    <button type="button" class="btn btn-primary anime-cb-button logged-in">Browse Rooms</button>
		    <button type="button" class="btn btn-primary anime-cb-button logged-in">Settings</button>
		    <img class="pre-screen-spinner" src="/imgs/spinner.gif">
		    <button type="button" class="btn btn-primary anime-cb-button logged-in logout-btn">Log Out</button>
		    <button type="button" class="btn btn-primary anime-cb-button logged-out sign-up-btn" style="display: none;">Sign Up</button>
		    <button type="button" class="btn btn-primary anime-cb-button logged-out login-btn" style="display: none;">Login</button>
		{{else}}
			<button type="button" class="btn btn-primary anime-cb-button logged-in" style="display: none;">Create Room</button>
		    <button type="button" class="btn btn-primary anime-cb-button logged-in" style="display: none;">Browse Rooms</button>
		    <button type="button" class="btn btn-primary anime-cb-button logged-in" style="display: none;">Settings</button>
		    <img class="pre-screen-spinner" src="/imgs/spinner.gif">
		   	<button type="button" class="btn btn-primary anime-cb-button logged-in logout-btn" style="display: none;">Log Out</button>
		    <button type="button" class="btn btn-primary anime-cb-button logged-out sign-up-btn">Sign Up</button>
		    <button type="button" class="btn btn-primary anime-cb-button logged-out login-btn">Login</button>
		{{/if}}
	 	</div>
	</div>
</div>