<div class="anime-cb-screen-play anime-cb-screen">
	<div class="center-screen">
		<div class="anime-cb-title-page">
			<h1>Play</h1>
		</div>
		<div class="btn-group-vertical anime-cb-btn-group">
			<button type="button" class="btn btn-primary anime-cb-button logged-in anime-cb-btn-matchmaking">Matchmaking</button>
			<button type="button" class="btn btn-primary anime-cb-button logged-in anime-cb-btn-create-room">Create Room</button>
		    <button type="button" class="btn btn-primary anime-cb-button logged-in anime-cb-btn-browse-rooms">Browse Rooms</button>
		    <button type="button" class="btn btn-primary anime-cb-button anime-cb-btn-main-menu">Back to Main Menu</button>
		    <img class="pre-screen-spinner" src="/imgs/spinner.gif">
	 	</div>
	</div>
</div>