<div class="anime-cb-screen-settings anime-cb-screen">
	<div class="center-screen">
		<div class="anime-cb-title-page">
			<h1>Settings</h1>
		</div>
		<div class="user-message"></div>
		<form id="anime-cb-form-settings" class="anime-cb-form" action="#">
			<div class="anime-cb-box anime-cb-box-settings">
				<div class="form-group">
					<div class="anime-cb-setting-label">Sound:</div><label class="switch"><input type="checkbox" name="sound"><div class="slider round"></div></label>
				</div>
				<div class="form-group">
					<div class="anime-cb-setting-label-2">Volume:</div>
					<p><span id="anime-cb-setting-volume-label"></span></p>
					<div id="anime-cb-setting-volume" name="soundVolume"></div>
				</div>
				<div class="errors"></div>
				<img class="spinner" src="/imgs/spinner.gif">
				<button id="anime-cb-submit-settings" type="submit" class="btn btn-default">Save</button>
			</div>
		</form>
		<div class="anime-cb-screen_footer">
			<button type="button" class="btn btn-primary anime-cb-button anime-cb-btn-main-menu">Back to Main Menu</button>
		</div>
	</div>
</div>