<div class="anime-cb-sign-up-success anime-cb-screen">
	<div class="center-screen">
		<div class="anime-cb-page-title">
			<h1>You've successfully signed up</h1>
		</div>
		<div class="user-message"></div>
		<div class="btn-group-vertical anime-cb-btn-group">
		    <button type="button" class="btn btn-primary anime-cb-button main-menu-btn">Return to Main Menu</button>
		    <button type="button" class="btn btn-primary anime-cb-button login-btn">Login</button>
	 	</div>
	</div>
</div>