body {
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../imgs/home_background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center top;
}

#acb-main-wrapper {
	min-height: 100%;
	margin: auto;
}

#acb-submain-wrapper {
  display: none;
}

.anime-cb-screen {
  display: none;
}

.anime-cb-screen-main-menu {
  display: block;
}

.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  color: white;
}

.anime-cb-title-page {
  margin-bottom: 5%;
}

.anime-cb-btn-group {
  width: 20%;
  padding: 10px;
}

.anime-cb-button {
  font-size: 20px;
  margin-bottom: 10px;
  padding: 20px;
  background-color: #D2691E;
  outline-style: none;
  border: none;
}

.anime-cb-button-stateless {
  font-size: 20px;
  margin-bottom: 10px;
  padding: 20px;
  background-color: #D2691E;
  outline-style: none;
  border: none;
}

.anime-cb-form {
  width: 20%;
  max-width: 20%;
}

.anime-cb-screen_footer {
  margin-top: 5%;
}

.anime-cb-box {
}

.spinner {
  display: none;
  max-width: 100px;
  max-height: 100px;
  margin-top: -20px;
  position: absolute;
}

.spinner:focus, .spinner:active, .spinner:hover {
  border: 0;
  outline: none;
}

#anime-cb-form-sign-up .spinner {
  margin-left: -90px;
  margin-top: -30px;
}

#anime-cb-form-login .spinner {
  margin-left: -90px;
  margin-top: -30px;
}

#anime-cb-form-create-room .spinner {
  margin-left: -90px;
  margin-top: -30px;
}

.browse-rooms-table {
  width: 40%;
  text-align: center;
  background: rgb(105, 105, 105, 0.5);
}

.browse-rooms-table, .browse-rooms-table th, .browse-rooms-table tr, .browse-rooms-table td {
  border-bottom: 1px solid white;
  text-align: center;
  padding: 5px;
  font-size: 14px;
}

.browse-rooms-table th {
  font-weight: 800;
}

.pre-screen-spinner {
  display: none;
  max-width: 100px;
  max-height: 100px;
  margin-top: -20px;
  position: absolute;
}

.pre-screen-spinner:focus, .pre-screen-spinner:active, .pre-screen-spinner:hover {
  border: 0;
  outline: none;
}

.anime-cb-screen-main-menu .pre-screen-spinner {
  margin-left: -120px;
  z-index: 10;
}

.user-message {
  font-weight: bold;
  margin-bottom: 50px;
  font-size: 20px;
}

.errors {
  display: none;
  color: red;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.6);
}

.server-error {
	margin: 30px;
	color: red;
}

.anime-cb-waiting-players-lobby {
  padding-top: 100px;
}

@keyframes dots-1 { from { opacity: 0; } 25% { opacity: 1; } }
@keyframes dots-2 { from { opacity: 0; } 50% { opacity: 1; } }
@keyframes dots-3 { from { opacity: 0; } 75% { opacity: 1; } }
@-webkit-keyframes dots-1 { from { opacity: 0; } 25% { opacity: 1; } }
@-webkit-keyframes dots-2 { from { opacity: 0; } 50% { opacity: 1; } }
@-webkit-keyframes dots-3 { from { opacity: 0; } 75% { opacity: 1; } }

.anime-cb-waiting-players-lobby .dots span {
    animation: dots-1 2s infinite steps(1);
    -webkit-animation: dots-1 2s infinite steps(1);
}

.anime-cb-waiting-players-lobby .dots span:first-child + span {
    animation-name: dots-2;
    -webkit-animation-name: dots-2;
}

.anime-cb-waiting-players-lobby .dots span:first-child + span + span {
    animation-name: dots-3;
    -webkit-animation-name: dots-3;
}