body {
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../imgs/home_background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center top;
}

#acb-main-wrapper {
	min-height: 100%;
	margin: auto;
}

#acb-submain-wrapper {
  display: none;
}

.anime-cb-screen {
  display: none;
}

.anime-cb-screen-main-menu {
  display: block;
}

.anime-cb-screen-game {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  color: white;
}

.anime-cb-title-page {
  margin-bottom: 5%;
}

.anime-cb-btn-group {
  width: 20%;
  padding: 10px;
}

.anime-cb-button {
  font-size: 20px;
  margin-bottom: 10px;
  padding: 20px;
  background-color: #D2691E;
  outline-style: none;
  border: none;
}

.anime-cb-button-stateless {
  font-size: 20px;
  margin-bottom: 10px;
  padding: 20px;
  background-color: #D2691E;
  outline-style: none;
  border: none;
}

.anime-cb-form {
  width: 20%;
  max-width: 20%;
}

.anime-cb-screen_footer {
  margin-top: 5%;
}

.anime-cb-box {
}

.spinner {
  display: none;
  max-width: 100px;
  max-height: 100px;
  margin-top: -20px;
  position: absolute;
}

.spinner:focus, .spinner:active, .spinner:hover {
  border: 0;
  outline: none;
}

#anime-cb-form-sign-up .spinner {
  margin-left: -90px;
  margin-top: -30px;
}

#anime-cb-form-login .spinner {
  margin-left: -90px;
  margin-top: -30px;
}

#anime-cb-form-create-room .spinner {
  margin-left: -90px;
  margin-top: -30px;
}

.anime-cb-screen-browse-rooms .main.spinner {
  margin-top: 100px;
}

.browse-rooms-table {
  width: 40%;
  text-align: center;
  background: rgb(105, 105, 105, 0.5);
}

.browse-rooms-table, .browse-rooms-table th, .browse-rooms-table tr, .browse-rooms-table td {
  border-bottom: 2px solid white;
  text-align: center;
  padding: 5px;
  font-size: 14px;
}

.browse-rooms-table th {
  font-weight: 800;
}

.browse-rooms-table .spinner {
  margin-top: -27px;
  margin-left: -19px;
  max-width: 80px;
  max-height: 80px;
}

.pre-screen-spinner {
  display: none;
  max-width: 100px;
  max-height: 100px;
  margin-top: -20px;
  position: absolute;
}

.pre-screen-spinner:focus, .pre-screen-spinner:active, .pre-screen-spinner:hover {
  border: 0;
  outline: none;
}

.anime-cb-screen-main-menu .pre-screen-spinner {
  margin-left: -120px;
  z-index: 10;
}

.user-message {
  font-weight: bold;
  margin-bottom: 50px;
  font-size: 20px;
}

.errors {
  display: none;
  color: red;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.6);
}

.server-error {
	margin: 30px;
	color: red;
}

.anime-cb-waiting-players-lobby {
  padding-top: 100px;
  display: none;
}

@keyframes dots-1 { from { opacity: 0; } 25% { opacity: 1; } }
@keyframes dots-2 { from { opacity: 0; } 50% { opacity: 1; } }
@keyframes dots-3 { from { opacity: 0; } 75% { opacity: 1; } }
@-webkit-keyframes dots-1 { from { opacity: 0; } 25% { opacity: 1; } }
@-webkit-keyframes dots-2 { from { opacity: 0; } 50% { opacity: 1; } }
@-webkit-keyframes dots-3 { from { opacity: 0; } 75% { opacity: 1; } }

.anime-cb-waiting-players-lobby .dots span {
    animation: dots-1 2s infinite steps(1);
    -webkit-animation: dots-1 2s infinite steps(1);
}

.anime-cb-waiting-players-lobby .dots span:first-child + span {
    animation-name: dots-2;
    -webkit-animation-name: dots-2;
}

.anime-cb-waiting-players-lobby .dots span:first-child + span + span {
    animation-name: dots-3;
    -webkit-animation-name: dots-3;
}

.anime-cb-join-room {
  color: black;
}

.anime-cb-title-page-game {
  position: sticky;
  top: 0;
  margin: 10px;
  font-size: 25px;
  color: white;
  margin-left: 25px;
  margin-top: -2000px;
  display: inline-block;
  float: left;
  z-index: 2;
}

#anime-cb-title-page-game-room-name {
  margin: 10px 5px 5px 5px;
}

#anime-cb-board-wrapper {
  /*background-color: rgba(0, 0, 0, 0.3);*/
  text-align: center;
  display: flex;
  justify-content: center;
}

#anime-cb-board {
  align-self: center;
  border-collapse: collapse;
}

.anime-cb-column {
  border: 1px solid red;
  background-color: #BA7A3A;
  width: 50px;
  height: 50px;
  text-align: center;
}

.anime-cb-column.active {
  border: 2px double white !important;
}

#anime-cb-player-you-position {
  width: inherit;
  height: inherit;
  background-image: url("../imgs/player_pieces/Lelouch.jpg");
  background-size: contain;
  border: 1px solid white;
  border-radius: 50px;
  display: inline-block;
  position: absolute;
  margin-top: -25px;
  margin-left: -25px;
}

#anime-cb-player-enemy-position {
  width: inherit;
  height: inherit;
  background-image: url("../imgs/player_pieces/CC.jpg");
  background-size:contain;
  border: 1px solid white;
  border-radius: 50px;
  display: inline-block;
  position: absolute;
  margin-top: -25px;
  margin-left: -25px;
}

.anime-cb-board-player-label {
  margin: 10px;
  font-size: 20px;
  vertical-align: middle;
}

.anime-cb-cards-in-hand-wrapper {
  max-width: 60%;
  /*overflow:hidden;*/
  position: sticky;
/*  left: 50%;*/
}

.anime-cb-cards-in-hand {
/*  position: relative;
  left: -50%;*/
  height: 220px;
}

.anime-cb-cards-in-hand.player-you {
  /*margin-bottom: 10px;*/
  margin-bottom: -50px;
  overflow: hidden;
}

@-moz-document url-prefix() {
  .anime-cb-cards-in-hand.player-you {
    overflow: visible !important;
  }
}

.anime-cb-cards-in-hand.player-enemy {
  margin-top: -50px;
}

.anime-cb-card {
  width: 150px;
  height: 220px;
  display: inline-block;
  position: relative;
  border-radius: 3px;
  transition: box-shadow 0.1s, transform 0.1s;
  z-index: 3;
}

.anime-cb-card.player-you {
  border: 2px solid white;
}

.anime-cb-card + .anime-cb-card {
  /*margin-left: -50px;*/
}

.anime-cb-card:hover {
  z-index: 9999;
  border: 2px solid white;
  cursor: pointer;
  transform: scale(1.2);
  transform-origin: center;
  box-shadow: 0px 0px 30px rgba(0,0,0, 0.6);
}

.anime-cb-cards-in-hand-wrapper.player-enemy {
  top: 0;
  z-index: 2;
}

.anime-cb-cards-in-hand-wrapper.player-you {
  bottom: 0;
  z-index: 2;
/*  overflow: hidden;*/
}

@-moz-document url-prefix() {
 .anime-cb-cards-in-hand-wrapper.player-you {
    overflow: visible !important;
  }
}

#anime-cb-card-info-card-name {
  position: fixed;
  bottom: 50%;
  left: 50%;
  margin-left: -930px;
  margin-bottom: 280px;
  width: 300px;
  display: inline-block;
  color: white;
  text-align: center;
  z-index: 2;
  font-size: 14pt;
}

#anime-cb-card-info-wrapper {
  position: fixed;
  bottom: 50%;
  left: 50%;
  margin-left: -930px;
  margin-bottom: -170px;
  display: inline-block;
  color: white;
  text-align: center;
  z-index: 2;

/*  position: sticky;
  top: 0;
  margin-left: 20px;
  width: 300px;
  height: 440px;
  margin-top: -440px;
  color: white;
  text-align: center;*/
  font-size: 16pt;
}

#anime-cb-card-info-card {
  width: 300px;
  height: 440px;
  border-radius: 10px;
}

#anime-cb-card-info-subwrapper {
  display: inline-block;
  margin-top: 100px;
}

#anime-cb-card-info-text {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -930px;
  margin-top: 180px;
  display: inline-block;
  color: white;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 10px;
  color: white;
  font-size: 12pt;
  width: 300px;
}

#anime-cb-card-global-deck-wrapper {
/*  position: sticky;
  top: 35%;
  right: 0;
  margin-right: 20px;
  margin-top: -330px;
  display: inline-block;
  color: white;
  text-align: center;
  float: right;
  z-index: 2;*/
  position: fixed;
  top: 50%;
  right: 50%;
  margin-right: -930px;
  margin-top: -130px;
  display: inline-block;
  color: white;
  text-align: center;
  z-index: 10;
}

#anime-cb-card-global-deck {
  width: 150px;
  height: 220px;
  cursor: pointer;
  border-radius: 3px;
  transition: box-shadow 0.1s, transform 0.1s;
}

#anime-cb-card-global-deck:hover {
  z-index: 9999;
  border: 2px solid white;
  cursor: pointer;
  transform: scale(1.1);
  transform-origin: center;
  box-shadow: 0px 0px 30px rgba(0,0,0, 0.6);
}

#anime-cb-card-global-deck-text {
  margin-top: 20px;
}

#anime-cb-phases-wrapper {
  position: fixed;
  top: 50%;
  right: 50%;
  margin-right: -600px;
  margin-top: -250px;
  display: inline-block;
  color: white;
  text-align: center;
  z-index: 2;
  border-collapse: separate;
  border: 2px solid white;
  border-radius: 30px;
}

.anime-cb-phase-row {

}

.anime-cb-phase-column {
  width: 50px;
  height: 100px;
  background-color: #696969;
  font-size: 14pt;
  font-weight: 700;
}

.anime-cb-phase-column.active {
  background-color: rgba(34, 139, 34, 1);
  -webkit-animation: active-phase-blink 2s infinite ;
  animation: active-phase-blink 2s infinite ;
}

.anime-cb-phase-column.ended {
  background-color: #A9A9A9;
  cursor: default;
}

.anime-cb-phase-column.next {
  background-color: #595959;
}

.anime-cb-phase-column.selectable {
  cursor: pointer;
}

.anime-cb-phase-column.next.selectable:hover {
  background-color: #4169E1;
}

#anime-cb-phase-draw {
  border-radius: 30px 30px 0px 0px;
}

#anime-cb-phase-standby, #anime-cb-phase-main, #anime-cb-phase-draw, #anime-cb-phase-roll {
  border-bottom: 2px solid white;
}

#anime-cb-phase-end {
  border-radius: 0px 0px 30px 30px;
}

/*#anime-cb-phase-end:hover, #anime-cb-phase-roll:hover {
  background-color: #1E90FF;
  cursor: pointer;
}*/

.anime-cb-screen_footer-game {
  position: fixed;
  bottom: 50%;
  left: 50%;
  margin-left: -930px;
  margin-bottom: -465px;
  display: inline-block;
  z-index: 2;
}

.anime-cb-card-graveyard-wrapper {
  position: fixed;
  text-align: right;
  color: white;
}

.anime-cb-card-graveyard-wrapper.player-enemy {
/*  position: sticky;
  top:0;
  right:0;
  margin-right: 20px;
  margin-top: -330px;
  display: inline-block;
  float: right;
  z-index: 2;*/
  top: 50%;
  right: 50%;
  margin-right: -930px;
  margin-top: -470px;
  display: inline-block;
  color: white;
  text-align: center;
  z-index: 2;
}

.anime-cb-card-graveyard-wrapper.player-you {
/*  position: sticky;
  bottom:0;
  right:0;
  margin-right: 20px;
  margin-top: -300px;
  display: inline-block;
  float: right;
  z-index: 2;*/
  top: 50%;
  right: 50%;
  margin-right: -930px;
  margin-top: 190px;
  display: inline-block;
  color: white;
  text-align: center;
  z-index: 2;
}

.anime-cb-card-graveyard-text.player-you {
  margin-bottom: 0px;
}

.anime-cb-card-graveyard-text.player-enemy {
  margin-top: 15px;
}

.anime-cb-card-graveyard-deck {
  width: 150px;
  height: 220px;
  cursor: pointer;
  border-radius: 3px;
  transition: box-shadow 0.1s, transform 0.1s;
}

.anime-cb-card-graveyard-deck.player-you {
  margin-bottom: 20px;
}

.anime-cb-card-graveyard-deck.player-enemy {
  margin-top: 10px;
}

.anime-cb-card-graveyard-deck:hover {
  z-index: 9999;
  border: 2px solid white;
  cursor: pointer;
  transform: scale(1.1);
  transform-origin: center;
  box-shadow: 0px 0px 30px rgba(0,0,0, 0.6);
}

.anime-cb-card-field {
  width: 460px;
  height: 120px;
  background-color: rgba(0, 0, 0, 0.3);
}

.anime-cb-card-field td {
  border: 2px solid white;
  text-align: center;
  width: 90px;
  height: 120px;
}

.anime-cb-card-field.player-you {
  margin-top: 10px;
  display: inline-block;
}

.anime-cb-card-field.player-enemy {
  margin-bottom: 10px;
}

.anime-cb-card-onfield {
  width: 72px;
  height: 106px;
  border-radius: 3px;
  transition: box-shadow 0.1s, transform 0.1s;
  vertical-align: middle;
/*  -webkit-animation: roll-in-bottom 0.6s ease-out both;
  animation: roll-in-bottom 0.6s ease-out both;*/
}

.anime-cb-card-onfield.hover:hover {
  z-index: 9999;
  border: 2px solid white;
  cursor: pointer;
  transform: scale(1.5);
  transform-origin: center;
  box-shadow: 0px 0px 30px rgba(0,0,0, 0.6);
}

#anime-cb-dice-wrapper-player-you {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}

#anime-cb-dice-wrapper-player-enemy {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -300px;
  margin-left: -100px;
}

#anime-cb-game-events-info {
  position: fixed;
  top: 50%;
  left: 50%;
  color: white;
  text-align: center;
  z-index: 2;
  font-size: 30pt;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 20px;
  -webkit-animation: show-event-popup-slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: show-event-popup-slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.anime-cb-turn-timer.player-enemy {
  position: fixed;
  top: 50%;
  right: 50%;
  color: white;
  text-align: center;
  font-size: 30pt;
  background-color: rgb(171, 33, 33);
  margin-top: -380px;
  margin-right: -700px;
  padding: 10px 30px 0px 30px;
  border-radius: 20px;
  z-index: -1;
}

.anime-cb-turn-timer.player-you {
  position: fixed;
  top: 50%;
  right: 50%;
  color: white;
  text-align: center;
  font-size: 30pt;
  background-color: rgb(65, 105, 225);
  margin-top: 300px;
  margin-right: -700px;
  padding: 10px 30px 0px 30px;
  border-radius: 20px;
  z-index: -1;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-7-12 1:20:2
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation roll-in-bottom
 * ----------------------------------------
 */
@-webkit-keyframes summon-your-card {
  0% {
    -webkit-transform: translateY(200px) rotate(540deg);
    transform: translateY(200px) rotate(540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotate(0deg);
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
}
@keyframes summon-your-card {
  0% {
    -webkit-transform: translateY(200px) rotate(540deg);
    transform: translateY(200px) rotate(540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotate(0deg);
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
}


/* ----------------------------------------------
 * Generated by Animista on 2020-7-12 4:13:21
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation roll-in-top
 * ----------------------------------------
 */
@-webkit-keyframes summon-enemy-card {
  0% {
    -webkit-transform: translateY(-200px) rotate(-540deg);
            transform: translateY(-200px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
}
@keyframes summon-enemy-card {
  0% {
    -webkit-transform: translateY(-200px) rotate(-540deg);
            transform: translateY(-200px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
}


/* ----------------------------------------------
 * Generated by Animista on 2020-7-12 21:53:7
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation blink-2
 * ----------------------------------------
 */
@-webkit-keyframes active-phase-blink {
  0% {
    background-color: rgba(34, 139 ,34, 1);
  }
  50% {
    background-color: rgba(34, 139, 34, 0.7);
  }
  100% {
    background-color: rgba(34, 139, 34, 1);
  }
}
@keyframes active-phase-blink {
  0% {
    background-color: rgba(34, 139 ,34, 1);
  }
  50% {
    background-color: rgba(34, 139, 34, 0.7);
  }
  100% {
    background-color: rgba(34, 139, 34, 1);
  }
}


/* ----------------------------------------------
 * Generated by Animista on 2020-7-12 22:30:19
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
@-webkit-keyframes show-event-popup-slide-right {
  0% {
    -webkit-transform: translateX(700px);
            transform: translateX(700px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
@keyframes show-event-popup-slide-right {
  0% {
    -webkit-transform: translateX(700px);
            transform: translateX(700px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0) translate(-50%, -50%);
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2020-7-12 22:53:21
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation puff-out-center
 * ----------------------------------------
 */
@-webkit-keyframes hide-event-popup {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
    transform: translate(-50%, -50%);
  }
}
@keyframes hide-event-popup {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  100% {
    -webkit-transform: scale(2) translate(-20%, -20%);
            transform: scale(2) translate(-20%, -20%);
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
}


/* ----------------------------------------------
 * Generated by Animista on 2020-7-13 4:27:24
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-tr
 * ----------------------------------------
 */
@-webkit-keyframes draw-from-deck-you-1 {
  0% {
    -webkit-transform: translateY(-500px) translateX(850px);
            transform: translateY(-500px) translateX(850px);
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
}
@keyframes draw-from-deck-you-1 {
  0% {
    -webkit-transform: translateY(-500px) translateX(850px);
            transform: translateY(-500px) translateX(850px);
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
}

@-webkit-keyframes draw-from-deck-you-2 {
  0% {
    -webkit-transform: translateY(-500px) translateX(800px);
            transform: translateY(-500px) translateX(800px);
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
}
@keyframes draw-from-deck-you-2 {
  0% {
    -webkit-transform: translateY(-500px) translateX(800px);
            transform: translateY(-500px) translateX(800px);
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
}

@-webkit-keyframes draw-from-deck-you-3 {
  0% {
    -webkit-transform: translateY(-500px) translateX(730px);
            transform: translateY(-500px) translateX(730px);
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
}
@keyframes draw-from-deck-you-3 {
  0% {
    -webkit-transform: translateY(-500px) translateX(730px);
            transform: translateY(-500px) translateX(730px);
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
}

@-webkit-keyframes draw-from-deck-you-4 {
  0% {
    -webkit-transform: translateY(-500px) translateX(650px);
            transform: translateY(-500px) translateX(650px);
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
}
@keyframes draw-from-deck-you-4 {
  0% {
    -webkit-transform: translateY(-500px) translateX(650px);
            transform: translateY(-500px) translateX(650px);
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
}

@-webkit-keyframes draw-from-deck-you-5 {
  0% {
    -webkit-transform: translateY(-500px) translateX(610px);
            transform: translateY(-500px) translateX(610px);
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
}
@keyframes draw-from-deck-you-5 {
  0% {
    -webkit-transform: translateY(-500px) translateX(610px);
            transform: translateY(-500px) translateX(610px);
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
}

@-webkit-keyframes draw-from-deck-you-6 {
  0% {
    -webkit-transform: translateY(-500px) translateX(570px);
            transform: translateY(-500px) translateX(570px);
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
}
@keyframes draw-from-deck-you-6 {
  0% {
    -webkit-transform: translateY(-500px) translateX(570px);
            transform: translateY(-500px) translateX(570px);
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
}

@-webkit-keyframes draw-from-deck-you-7 {
  0% {
    -webkit-transform: translateY(-500px) translateX(530px);
            transform: translateY(-500px) translateX(530px);
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
}
@keyframes draw-from-deck-you-7 {
  0% {
    -webkit-transform: translateY(-500px) translateX(530px);
            transform: translateY(-500px) translateX(530px);
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
}

@-webkit-keyframes draw-from-deck-you-8 {
  0% {
    -webkit-transform: translateY(-500px) translateX(520px);
            transform: translateY(-500px) translateX(520px);
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
}
@keyframes draw-from-deck-you-8 {
  0% {
    -webkit-transform: translateY(-500px) translateX(520px);
            transform: translateY(-500px) translateX(520px);
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
}

@-webkit-keyframes draw-from-deck-you-9 {
  0% {
    -webkit-transform: translateY(-500px) translateX(500px);
            transform: translateY(-500px) translateX(500px);
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
}
@keyframes draw-from-deck-you-9 {
  0% {
    -webkit-transform: translateY(-500px) translateX(500px);
            transform: translateY(-500px) translateX(500px);
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
}

@-webkit-keyframes draw-from-deck-you-10 {
  0% {
    -webkit-transform: translateY(-500px) translateX(490px);
            transform: translateY(-500px) translateX(490px);
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
}
@keyframes draw-from-deck-you-10 {
  0% {
    -webkit-transform: translateY(-500px) translateX(490px);
            transform: translateY(-500px) translateX(490px);
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
}

@-webkit-keyframes draw-from-deck-you-11 {
  0% {
    -webkit-transform: translateY(-500px) translateX(450px);
            transform: translateY(-500px) translateX(450px);
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
}
@keyframes draw-from-deck-you-11 {
  0% {
    -webkit-transform: translateY(-500px) translateX(450px);
            transform: translateY(-500px) translateX(450px);
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
}

@-webkit-keyframes draw-from-deck-enemy-1 {
  0% {
    -webkit-transform: translateY(500px) translateX(850px);
            transform: translateY(500px) translateX(850px);
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
}
@keyframes draw-from-deck-enemy-1 {
  0% {
    -webkit-transform: translateY(500px) translateX(850px);
            transform: translateY(500px) translateX(850px);
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
}

@-webkit-keyframes draw-from-deck-enemy-2 {
  0% {
    -webkit-transform: translateY(500px) translateX(800px);
            transform: translateY(500px) translateX(800px);
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
}
@keyframes draw-from-deck-enemy-2 {
  0% {
    -webkit-transform: translateY(500px) translateX(800px);
            transform: translateY(500px) translateX(800px);
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
}

@-webkit-keyframes draw-from-deck-enemy-3 {
  0% {
    -webkit-transform: translateY(500px) translateX(730px);
            transform: translateY(500px) translateX(730px);
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
}
@keyframes draw-from-deck-enemy-3 {
  0% {
    -webkit-transform: translateY(500px) translateX(730px);
            transform: translateY(500px) translateX(730px);
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
}

@-webkit-keyframes draw-from-deck-enemy-4 {
  0% {
    -webkit-transform: translateY(500px) translateX(650px);
            transform: translateY(500px) translateX(650px);
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
}
@keyframes draw-from-deck-enemy-4 {
  0% {
    -webkit-transform: translateY(500px) translateX(650px);
            transform: translateY(500px) translateX(650px);
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
}

@-webkit-keyframes draw-from-deck-enemy-5 {
  0% {
    -webkit-transform: translateY(500px) translateX(610px);
            transform: translateY(500px) translateX(610px);
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
}
@keyframes draw-from-deck-enemy-5 {
  0% {
    -webkit-transform: translateY(500px) translateX(610px);
            transform: translateY(500px) translateX(610px);
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
}

@-webkit-keyframes draw-from-deck-enemy-6 {
  0% {
    -webkit-transform: translateY(500px) translateX(570px);
            transform: translateY(500px) translateX(570px);
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
}
@keyframes draw-from-deck-enemy-6 {
  0% {
    -webkit-transform: translateY(500px) translateX(570px);
            transform: translateY(500px) translateX(570px);
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
}

@-webkit-keyframes draw-from-deck-enemy-7 {
  0% {
    -webkit-transform: translateY(500px) translateX(530px);
            transform: translateY(500px) translateX(530px);
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
}
@keyframes draw-from-deck-enemy-7 {
  0% {
    -webkit-transform: translateY(500px) translateX(530px);
            transform: translateY(500px) translateX(530px);
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
}

@-webkit-keyframes draw-from-deck-enemy-8 {
  0% {
    -webkit-transform: translateY(500px) translateX(520px);
            transform: translateY(500px) translateX(520px);
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
}
@keyframes draw-from-deck-enemy-8 {
  0% {
    -webkit-transform: translateY(500px) translateX(520px);
            transform: translateY(500px) translateX(520px);
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
}

@-webkit-keyframes draw-from-deck-enemy-9 {
  0% {
    -webkit-transform: translateY(500px) translateX(500px);
            transform: translateY(500px) translateX(500px);
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
}
@keyframes draw-from-deck-enemy-9 {
  0% {
    -webkit-transform: translateY(500px) translateX(500px);
            transform: translateY(500px) translateX(500px);
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
}

@-webkit-keyframes draw-from-deck-enemy-10 {
  0% {
    -webkit-transform: translateY(500px) translateX(490px);
            transform: translateY(500px) translateX(490px);
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
}
@keyframes draw-from-deck-enemy-10 {
  0% {
    -webkit-transform: translateY(500px) translateX(490px);
            transform: translateY(500px) translateX(490px);
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
}

@-webkit-keyframes draw-from-deck-enemy-11 {
  0% {
    -webkit-transform: translateY(500px) translateX(450px);
            transform: translateY(500px) translateX(450px);
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
}
@keyframes draw-from-deck-enemy-11 {
  0% {
    -webkit-transform: translateY(500px) translateX(450px);
            transform: translateY(500px) translateX(450px);
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
}


/* ----------------------------------------------
 * Generated by Animista on 2020-7-15 4:2:41
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-out
 * ----------------------------------------
 */
@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  },
  100% {
    opacity: 0;
    filter: brightness(30);
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    filter: brightness(30);
  }
}


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  z-index: 1000;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 1265px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #A9A9A9;
  color: white;
}

.modal-body {
  padding-top: 5px;
  padding-left: 18px;
  padding-bottom: 10px;
  background-color: black;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #A9A9A9;
  color: white;
}

.modal-header.player-you {
  background-color: #6495ED;
}

.modal-footer.player-you {
  background-color: #6495ED;
}

.modal-header.player-enemy {
  background-color: #B22222;
}

.modal-footer.player-enemy {
  background-color: #B22222;
}

.anime-cb-card.in-graveyard {
  margin-top: 5px;
}