<html lang="en"><head>
    <title>Home</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
    <script src="/jquery/dist/jquery.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="/roll-a-die/dist/roll-a-die.js"></script>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

<div id="acb-main-wrapper">
<div id="acb-submain-wrapper" style="display: block;">
<div class="anime-cb-screen-game anime-cb-screen" style="display: block;">
	<div class="anime-cb-title-page-game">
		<p id="anime-cb-title-page-game-room-name">Room: Test Room</p>
	</div>
	<div id="anime-cb-card-info-card-name">
	</div>
	<div id="anime-cb-card-info-wrapper">
		<div id="anime-cb-card-info-subwrapper">
			<img id="anime-cb-card-info-card" src="imgs/player_cards/card_back.png">
		</div>
	</div>
	<div id="anime-cb-card-info-text">
	</div>
	<div class="anime-cb-card-graveyard-wrapper player-enemy">
		<p class="anime-cb-card-graveyard-text player-enemy">Enemy Graveyard</p>
		<img class="anime-cb-card-graveyard-deck player-enemy" src="imgs/player_cards/card_back.png">
	</div>
	<div id="anime-cb-card-global-deck-wrapper">
		<img id="anime-cb-card-global-deck" src="imgs/player_cards/card_back.png"><br><br>
		<p id="anime-cb-card-global-deck-text">Global Deck</p>
	</div>
	<div id="anime-cb-game-events-info">
		<p id="anime-cb-game-events-info-text">Main Phase</p>
	</div>
	<div class="anime-cb-turn-timer player-enemy">
		<p class="anime-cb-turn-timer-text player-enemy"></p>
	</div>
	<div class="anime-cb-turn-timer player-you">
		<p class="anime-cb-turn-timer-text player-you"></p>
	</div>
	<table id="anime-cb-phases-wrapper">
		<tr class="anime-cb-phase-row">
			<td id="anime-cb-phase-draw" class="anime-cb-phase-column ended" data-phase-text="Draw Phase">DP</td>
		</tr>
		<tr class="anime-cb-phase-row">
			<td id="anime-cb-phase-standby" class="anime-cb-phase-column ended" data-phase-text="Standy Phase">SP</td>
		</tr>
		<tr class="anime-cb-phase-row">
			<td id="anime-cb-phase-main" class="anime-cb-phase-column active" data-phase-text="Main Phase">MP</td>
		</tr>
		<tr class="anime-cb-phase-row">
			<td id="anime-cb-phase-roll" class="anime-cb-phase-column next" data-phase-text="Roll Phase">RP</td>
		</tr>
		<tr class="anime-cb-phase-row">
			<td id="anime-cb-phase-end" class="anime-cb-phase-column next" data-phase-text="End Phase">EP</td>
		</tr>
	</table>
	<div class="center-screen">
		<div class="anime-cb-cards-in-hand-wrapper player-enemy">
			<div class="anime-cb-cards-in-hand player-enemy">
				<img class="anime-cb-card player-enemy" src="imgs/player_cards/card_back.png">
				<img class="anime-cb-card player-enemy" src="imgs/player_cards/card_back.png">
				<img class="anime-cb-card player-enemy" src="imgs/player_cards/card_back.png">
				<img class="anime-cb-card player-enemy" src="imgs/player_cards/card_back.png">
				<img class="anime-cb-card player-enemy" src="imgs/player_cards/card_back.png">
				<img class="anime-cb-card player-enemy" src="imgs/player_cards/card_back.png">
			</div>
		</div>
		<div class="anime-cb-board-player-label player-enemy">
			C.C
		</div>
		<table class="anime-cb-card-field player-enemy">
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</table>
		<div id="anime-cb-board-wrapper">
			<table id="anime-cb-board">
				<tr class="anime-cb-board-row">
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
				</tr>
				<tr class="anime-cb-board-row">
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
				</tr>
				<tr class="anime-cb-board-row">
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
				</tr>
				<tr class="anime-cb-board-row">
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column active"></td>
					<td class="anime-cb-column active"></td>
					<td class="anime-cb-column active"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
				</tr>
				<tr class="anime-cb-board-row">
					<td class="anime-cb-column active"><span id="anime-cb-player-you-position"></span></td>
					<td class="anime-cb-column active"></td>
					<td class="anime-cb-column active"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column active"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column active"></td>
					<td class="anime-cb-column active"></td>
					<td class="anime-cb-column active"></td>
					<td class="anime-cb-column active"></td>
					<td class="anime-cb-column active"></td>
					<td class="anime-cb-column active"></td>
					<td class="anime-cb-column active"></td>
					<td class="anime-cb-column active"></td>
					<td class="anime-cb-column active"></td>
					<td class="anime-cb-column active"></td>
					<td class="anime-cb-column active"></td>
					<td class="anime-cb-column active"></td>
					<td class="anime-cb-column active"></td>
					<td class="anime-cb-column active"><span id="anime-cb-player-enemy-position"></span></td>
				</tr>
				<tr class="anime-cb-board-row">
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column active"></td>
					<td class="anime-cb-column active"></td>
					<td class="anime-cb-column active"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
				</tr>
				<tr class="anime-cb-board-row">
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
				</tr>
				<tr class="anime-cb-board-row">
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
				</tr>
				<tr class="anime-cb-board-row">
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
				</tr>
				<tr class="anime-cb-board-row">
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td><!-- <img id="anime-cb-dice" src="imgs/dice.webp"> -->
				</tr>
			</table>
		</div>
		<div>
			<table class="anime-cb-card-field player-you">
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</table>
		</div>
		<div class="anime-cb-board-player-label player-you">
			Lelouch
		</div>
		<div class="anime-cb-cards-in-hand-wrapper player-you">
			<div class="anime-cb-cards-in-hand player-you">
				<img class="anime-cb-card player-you" data-card-text="This is Kurumi" data-card-name="Kurumi" src="imgs/player_cards/Kurumi 3.jpg">
				<img class="anime-cb-card player-you" data-card-text="This is Ange" data-card-name="Ange" src="imgs/player_cards/Ange 2.jpg">
				<img class="anime-cb-card player-you" data-card-text="This is Saber" data-card-name="Saber" src="imgs/player_cards/Saber.jpg">
				<img class="anime-cb-card player-you" data-card-text="This is Maki" data-card-name="Maki" src="imgs/player_cards/Maki.jpg">
				<img class="anime-cb-card player-you" data-card-text="This is Jeanne" data-card-name="Jeanne" src="imgs/player_cards/Jeanne Alter 2.jpg">
				<img class="anime-cb-card player-you" data-card-text="This is Violet" data-card-name="Violet" src="imgs/player_cards/Violet.jpg">
			</div>
		</div>
	</div>
	<div class="anime-cb-card-graveyard-wrapper player-you">
		<img class="anime-cb-card-graveyard-deck player-you" src="imgs/player_cards/card_back.png">
		<p class="anime-cb-card-graveyard-text player-you">Your Graveyard</p>
	</div>
	<div class="anime-cb-screen_footer-game">
		<button id="anime-cb-surrender" type="button" class="btn btn-primary anime-cb-button-stateless anime-cb-btn-main-menu">Surrender</button>
	</div>
	<div id="anime-cb-dice-wrapper-player1">
	</div>
	<div id="anime-cb-dice-wrapper-player2">
	</div>
</div>
</div>
</div>
</body></html>

<script type="text/javascript">


// mouse hover effects on cards in hand and on field----------------------
$('.anime-cb-screen-game').on('mousemove mouseover', '.anime-cb-card-onfield', function(e) {
  fillInfoCard(this);
});

function fillInfoCard (card) {
  $('#anime-cb-card-info-card').attr("src", $(card).attr("src"));
  $('#anime-cb-card-info-card').css("border", "1px solid white");
  $('#anime-cb-card-info-text').text($(card).data("cardText") || "");
  $('#anime-cb-card-info-card-name').text($(card).data("cardName") || "");
}

$('.anime-cb-screen-game').on('mousemove mouseover', '.anime-cb-card', handleMove);
function handleMove(e) {
  const xVal = e.offsetX;
  const yVal = e.offsetY;

  const height = $(this).height();
  const width = $(this).width();

  const yRotation = 20 * ((xVal - width / 2) / width);
  const xRotation = -20 * ((yVal - height / 2) / height);

  const string = 'perspective(500px) scale(1.1) rotateX(' + xRotation + 'deg) rotateY(' + yRotation + 'deg) translateZ(0)';

  $(this).css("transform", string);

  fillInfoCard(this);

  $('.anime-cb-cards-in-hand').css("overflow", "visible");
}

$('.anime-cb-screen-game').on('mouseout', '.anime-cb-card', function() {
  $(this).css("transform", "perspective(500px) scale(1) rotateX(0) rotateY(0) translateZ(0)");
  $('.anime-cb-cards-in-hand').css("overflow", "hidden");
});

$('.anime-cb-screen-game').on('mousedown', '.anime-cb-card', function() {
  $(this).css("transform", "perspective(500px) scale(0.9) rotateX(0) rotateY(0) translateZ(0)");
});

$('.anime-cb-screen-game').on('mouseup', '.anime-cb-card', function() {
  $(this).css("transform", "perspective(500px) scale(1.1) rotateX(0) rotateY(0) translateZ(0)");
});

// don't allow scroll on when hovering on cards in hand
$('.anime-cb-cards-in-hand').on('DOMMouseScroll mousewheel', noScrollOnCardHover);

function noScrollOnCardHover(e) {
    var $this = $(this),
        scrollTop = this.scrollTop,
        scrollHeight = this.scrollHeight,
        height = $this.height(),
        delta = (e.type == 'DOMMouseScroll' ?
            e.originalEvent.detail * -40 :
            e.originalEvent.wheelDelta),
        up = delta > 0;

    var prevent = function() {
        e.stopPropagation();
        e.preventDefault();
        e.returnValue = false;
        return false;
    }

    if (!up && -delta > scrollHeight - height - scrollTop) {
        $this.scrollTop(scrollHeight);
        return prevent();
    } else if (up && delta > scrollTop) {
        $this.scrollTop(0);
        return prevent();
    }
}

// ----------------------


// Move characters throughout the board ------------------------
var boardPath = [[4, 0], [4, 1], [4, 2], [3, 2], [3, 3], [3, 4], [4, 4], [5, 4], [5, 5], [5, 6], [4, 6], [4, 7], [4, 8], [4, 9], [4, 10],
  	  [4, 11], [4, 12], [4, 13], [4, 14], [4, 15], [4, 16], [4, 17], [4, 18], [4, 19]];
var boardMatrix = [[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],[0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],[1,1,1,0,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1],[0,0,0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0],[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]];

function moveYourCharacter(res) {
  $('#anime-cb-phase-roll').removeClass("selectable");

  setTimeout(function() {
    var diceRoll = res[0];

    var columnIndex = $('#anime-cb-player-you-position').parent()[0].cellIndex;
    var rowIndex = $('#anime-cb-player-you-position').closest('tr')[0].rowIndex;
    var currBoardIndex;

    for (var k = 0; k < boardPath.length; k++) {
  	  var boardPos = boardPath[k];

  	  if (rowIndex == boardPos[0] && columnIndex == boardPos[1]) {
  		currBoardIndex = k;

  		if (boardPath[currBoardIndex + diceRoll] === undefined) {
  			//$('#anime-cb-phase-roll').one('click', rollDiceWithValues);
  			return;
  		}

  		for (var i = 0; i < diceRoll; i++) {
		  if (boardPath[currBoardIndex + 1][0] != rowIndex) {
		    if (boardPath[currBoardIndex + 1][0] < rowIndex) {
		  	  $('#anime-cb-player-you-position').animate({'margin-top': '-=50px'}, 400, null, incrementAnimsUpdateBoard);
		  	} else {
		  	  $('#anime-cb-player-you-position').animate({'margin-top': '+=50px'}, 400, null, incrementAnimsUpdateBoard);
		  	}
		  }

		  if (boardPath[currBoardIndex + 1][1] != columnIndex) {
		    if (boardPath[currBoardIndex + 1][1] < columnIndex) {
		      $('#anime-cb-player-you-position').animate({'margin-left': '-=50px'}, 400, null, incrementAnimsUpdateBoard);
		    } else {
		      $('#anime-cb-player-you-position').animate({'margin-left': '+=50px'}, 400, null, incrementAnimsUpdateBoard);
		  	}
		  }

		  rowIndex = boardPath[currBoardIndex + 1][0];
		  columnIndex = boardPath[currBoardIndex + 1][1];
		  currBoardIndex++;
	 	}

	 	 break;
  	  }
    }

    var animsCounter = 0;

    function incrementAnimsUpdateBoard() {
  	  animsCounter++;

  	  if (animsCounter == diceRoll) {
		$('#anime-cb-player-you-position').remove();
		var currPlayerTd = document.getElementById('anime-cb-board').rows[rowIndex].cells[columnIndex];
		$(currPlayerTd).html('<span id="anime-cb-player-you-position"></span>');

		$('#anime-cb-phase-end').addClass("selectable");

		$('#anime-cb-phase-end').on('click', switchPhase);
  	  }
    }
  }, 2000);
}

function moveEnemyCharacter(res) {
  setTimeout(function() {
    var diceRoll = res[0];

    var columnIndex = $('#anime-cb-player-enemy-position').parent()[0].cellIndex;
    var rowIndex = $('#anime-cb-player-enemy-position').closest('tr')[0].rowIndex;
    var currBoardIndex;

    for (var k = 0; k < boardPath.length; k++) {
  	  var boardPos = boardPath[k];

  	  if (rowIndex == boardPos[0] && columnIndex == boardPos[1]) {
  		currBoardIndex = k;

  		if (currBoardIndex - diceRoll < 0) {
  			//$('#anime-cb-phase-roll').one('click', rollDiceWithValues);
  			return;
  		}

  		for (var i = 0; i < diceRoll; i++) {
		  if (boardPath[currBoardIndex - 1][0] != rowIndex) {
		    if (boardPath[currBoardIndex - 1][0] < rowIndex) {
		  	  $('#anime-cb-player-enemy-position').animate({'margin-top': '-=50px'}, 400, null, incrementAnimsUpdateBoard);
		  	} else {
		  	  $('#anime-cb-player-enemy-position').animate({'margin-top': '+=50px'}, 400, null, incrementAnimsUpdateBoard);
		  	}
		  }

		  if (boardPath[currBoardIndex - 1][1] != columnIndex) {
		    if (boardPath[currBoardIndex - 1][1] < columnIndex) {
		      $('#anime-cb-player-enemy-position').animate({'margin-left': '-=50px'}, 400, null, incrementAnimsUpdateBoard);
		    } else {
		      $('#anime-cb-player-enemy-position').animate({'margin-left': '+=50px'}, 400, null, incrementAnimsUpdateBoard);
		  	}
		  }

		  rowIndex = boardPath[currBoardIndex - 1][0];
		  columnIndex = boardPath[currBoardIndex - 1][1];
		  currBoardIndex--;
	 	}

	 	 break;
  	  }
    }

    var animsCounter = 0;

    function incrementAnimsUpdateBoard() {
  	  animsCounter++;

  	  if (animsCounter == diceRoll) {
		$('#anime-cb-player-enemy-position').remove();
		var currPlayerTd = document.getElementById('anime-cb-board').rows[rowIndex].cells[columnIndex];
		$(currPlayerTd).html('<span id="anime-cb-player-enemy-position"></span>');
		//$('#anime-cb-phase-roll').one('click', rollDiceWithValues);
  	  }
    }
  }, 2000);
}

// ------------------------


// roll Dice ------------
function rollDiceWithValues() {
  var element = document.getElementById('anime-cb-dice-wrapper-player1');
  var numberOfDice = 1;
  var options = {
    element,
    numberOfDice,
    delay: 1500,
    // values: [1,2,3,4,5,6],
    callback: moveYourCharacter
  };
  rollADie(options);
}
// ------------


// Summon cards on field---------------------
$('.anime-cb-cards-in-hand-wrapper.player-you').on('click', '.anime-cb-card', function(e) {
	var cardSrc = $(this).attr("src");
	var cardText = $(this).data("cardText");
	var cardName = $(this).data("cardName");
	var card = this;

	$('.anime-cb-card-field.player-you td').each(function(idx) {
		if (!$(this).find('img').length) {
			$(this).css("-webkit-animation", "roll-in-bottom 0.6s ease-out both");
			$(this).css("animation", "roll-in-bottom 0.6s ease-out both");
			$(this).html('<img class="anime-cb-card-onfield player-you" data-card-text="' + cardText + '" data-card-name="' + cardName + '" src="' + cardSrc + '">');
			$('.anime-cb-cards-in-hand').css("overflow", "hidden");
			$(card).remove();

			setTimeout(function() {
				$(this).css("animation", "");
				$(this).css("-webkit-animation", "");
			}.bind(this), 500);

			return false;
		}
	});
});

// This will not be on click but just for test and the data will be taken from server
$('.anime-cb-cards-in-hand-wrapper.player-enemy').on('click', '.anime-cb-card', function(e) {
	// The date won't be taken from here but just for test
	var cardSrc = $(this).attr("src");
	var card = this;

	$('.anime-cb-card-field.player-enemy td').each(function(idx) {
		if (!$(this).find('img').length) {
			$(this).css("-webkit-animation", "roll-in-top 0.6s ease-out both");
			$(this).css("animation", "roll-in-top 0.6s ease-out both");
			$(this).html('<img class="anime-cb-card-onfield player-enemy" src="' + cardSrc + '">');
			$('.anime-cb-cards-in-hand').css("overflow", "hidden");
			$(card).remove();

			setTimeout(function() {
				$(this).css("animation", "");
				$(this).css("-webkit-animation", "");
			}.bind(this), 500);

			return false;
		}
	});
});

// --------------------

// Test phases switch, in real game the animations will triger when there is server response (draw phase, standby phase, main phase) or the player clicked on roll phase or end phase
setTimeout(function() {
  $('#anime-cb-game-events-info').css("-webkit-animation", "puff-out-center 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) both");
  $('#anime-cb-game-events-info').css("animation", "puff-out-center 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) both");
}, 2000);

setTimeout(function() {
  // $('#anime-cb-phase-roll').css("cursor", "pointer");
  // $('#anime-cb-phase-end').css("cursor", "pointer");

  $('#anime-cb-phase-roll, #anime-cb-phase-end').addClass("selectable");
  $('#anime-cb-phase-roll, #anime-cb-phase-end').on('click', switchPhase);
}, 3000);

function switchPhase(e) {
  	$('#anime-cb-phase-roll, #anime-cb-phase-end').off("click");

    var phaseText = $(this).data("phaseText");

    $('#anime-cb-phase-roll, #anime-cb-phase-end').removeClass("selectable");
    $('.anime-cb-phase-column').removeClass("active");
    $(this).parent().prevAll().find('.anime-cb-phase-column').removeClass('next');
    $(this).parent().prevAll().find('.anime-cb-phase-column').addClass('ended');
    $(this).removeClass("next");
    $(this).addClass("active");

    $('#anime-cb-game-events-info-text').text(phaseText);
    $('#anime-cb-game-events-info').css("-webkit-animation", "slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both");
    $('#anime-cb-game-events-info').css("animation", "slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both");

    setTimeout(function() {
      $('#anime-cb-game-events-info').css("-webkit-animation", "puff-out-center 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) both");
	  $('#anime-cb-game-events-info').css("animation", "puff-out-center 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) both");
    }.bind(this), 2000);

    setTimeout(function() {
	  if ($(this).is($('#anime-cb-phase-roll'))) {
	    $(this).addClass("selectable");
	    $('#anime-cb-phase-roll').one("click", rollDiceWithValues);
	  }

	  // if end phase -> end turn
    }.bind(this), 3000);
}

var timeLeftSeconds = 60;
$('.anime-cb-turn-timer-text.player-you').text(timeLeftSeconds);
$('.anime-cb-turn-timer-text.player-enemy').text(timeLeftSeconds);

var turnTimer = setInterval(function() {
  if (timeLeftSeconds <= 0) {
  	clearTimeout(turnTimer);
  	return;
  }

  timeLeftSeconds--;
  $('.anime-cb-turn-timer-text.player-you').text(timeLeftSeconds);
  // $('.anime-cb-turn-timer-text.player-enemy').text(timeLeftSeconds);
}, 1000);

$('#anime-cb-card-global-deck').on('click', function(e) {
  $('.anime-cb-cards-in-hand.player-you').attr("style", "");
  $('.anime-cb-cards-in-hand.player-you').css("overflow", "visible");
  $('.anime-cb-cards-in-hand.player-you').append('<img style="animation: slide-in-tr 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; -webkit-animation: slide-in-tr 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;" class="anime-cb-card player-you" data-card-text="This is Misaka" data-card-name="Misaka" src="imgs/player_cards/Misaka.jpg">');

  $('*').on('DOMMouseScroll mousewheel', function(e) {
    e.stopPropagation();
    e.preventDefault();
    e.returnValue = false;
    return false;
  });

  setTimeout(function() {
  	$('*').off('DOMMouseScroll mousewheel');
  	$('.anime-cb-cards-in-hand').on('DOMMouseScroll mousewheel', noScrollOnCardHover);
  	$('.anime-cb-card.player-you').attr("style", "");
  	$('.anime-cb-cards-in-hand.player-you').css("overflow", "hidden");
  }, 600);
});
</script>