<html lang="en"><head>
    <title>Home</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
    <script src="/jquery/dist/jquery.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="/roll-a-die/dist/roll-a-die.js"></script>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

<div id="acb-main-wrapper">
<div id="acb-submain-wrapper" style="display: block;">
<div class="anime-cb-screen-game anime-cb-screen" style="display: block;">
	<div class="anime-cb-title-page-game">
		<p>Room: Test Room</p>
	</div>

	<div id="anime-cb-card-info-wrapper">
		<div id="anime-cb-card-info-subwrapper">
			Card Info<br>
			<img id="anime-cb-card-info-card" src="imgs/player_cards/card_back.png">
			<div id="anime-cb-card-info-text">
			</div>
		</div>
	</div>
	<div class="anime-cb-card-graveyard-wrapper player-enemy">
			<br><p class="anime-cb-card-graveyard-text player-enemy">Enemy Graveyard</p><br>
		<img class="anime-cb-card-graveyard-deck player-enemy" src="imgs/player_cards/card_back.png">
	</div>
	<div class="anime-cb-card-global-deck-wrapper">
		<img class="anime-cb-card-global-deck" src="imgs/player_cards/card_back.png"><br><br>
		<p class="anime-cb-card-global-deck-text">Global Deck</p>
	</div>
	<table id="anime-cb-phases-wrapper">
		<tr class="anime-cb-phase-row">
			<td id="anime-cb-phase-draw" class="anime-cb-phase-column ended">DP</td>
		</tr>
		<tr class="anime-cb-phase-row">
			<td id="anime-cb-phase-standby" class="anime-cb-phase-column active">SP</td>
		</tr>
		<tr class="anime-cb-phase-row">
			<td id="anime-cb-phase-main" class="anime-cb-phase-column next">MP</td>
		</tr>
		<tr class="anime-cb-phase-row">
			<td id="anime-cb-phase-roll" class="anime-cb-phase-column next">RP</td>
		</tr>
		<tr class="anime-cb-phase-row">
			<td id="anime-cb-phase-end" class="anime-cb-phase-column next">EP</td>
		</tr>
	</table>
	<div class="center-screen">
		<div class="anime-cb-cards-in-hand-wrapper player-enemy">
			<div class="anime-cb-cards-in-hand player-enemy">
				<img class="anime-cb-card player-enemy" src="imgs/player_cards/card_back.png">
				<img class="anime-cb-card player-enemy" src="imgs/player_cards/card_back.png">
				<img class="anime-cb-card player-enemy" src="imgs/player_cards/card_back.png">
				<img class="anime-cb-card player-enemy" src="imgs/player_cards/card_back.png">
				<img class="anime-cb-card player-enemy" src="imgs/player_cards/card_back.png">
				<img class="anime-cb-card player-enemy" src="imgs/player_cards/card_back.png">
			</div>
		</div>
		<div class="anime-cb-board-player-label player-enemy">
			C.C
		</div>
		<table class="anime-cb-card-field player-enemy">
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</table>
		<div id="anime-cb-board-wrapper">
			<table id="anime-cb-board">
				<tr class="anime-cb-board-row">
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
				</tr>
				<tr class="anime-cb-board-row">
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
				</tr>
				<tr class="anime-cb-board-row">
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
				</tr>
				<tr class="anime-cb-board-row">
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
				</tr>
				<tr class="anime-cb-board-row">
					<td class="anime-cb-column"><span id="anime-cb-player-you-position"></span></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"><span id="anime-cb-player-enemy-position"></span></td>
				</tr>
				<tr class="anime-cb-board-row">
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
				</tr>
				<tr class="anime-cb-board-row">
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
				</tr>
				<tr class="anime-cb-board-row">
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
				</tr>
				<tr class="anime-cb-board-row">
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
				</tr>
				<tr class="anime-cb-board-row">
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td>
					<td class="anime-cb-column blank"></td><!-- <img id="anime-cb-dice" src="imgs/dice.webp"> -->
				</tr>
			</table>
		</div>
		<div>
			<table class="anime-cb-card-field player-you">
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</table>
		</div>
		<div class="anime-cb-board-player-label player-you">
			Lelouch
		</div>
		<div class="anime-cb-cards-in-hand-wrapper player-you">
			<div class="anime-cb-cards-in-hand player-you">
				<img class="anime-cb-card player-you" data-card-text="This is Kurumi" src="imgs/player_cards/Kurumi 3.jpg">
				<img class="anime-cb-card player-you" data-card-text="This is Ange" src="imgs/player_cards/Ange 2.jpg">
				<img class="anime-cb-card player-you" data-card-text="This is Saber" src="imgs/player_cards/Saber.jpg">
				<img class="anime-cb-card player-you" data-card-text="This is Maki" src="imgs/player_cards/Maki.jpg">
				<img class="anime-cb-card player-you" data-card-text="This is Jeanne" src="imgs/player_cards/Jeanne Alter 2.jpg">
				<img class="anime-cb-card player-you" data-card-text="This is Violet" src="imgs/player_cards/Violet.jpg">
			</div>
		</div>
	</div>
	<div class="anime-cb-card-graveyard-wrapper player-you">
		<img class="anime-cb-card-graveyard-deck player-you" src="imgs/player_cards/card_back.png"><br><br>
		<p class="anime-cb-card-graveyard-text player-you">Your Graveyard</p><br>
	</div>
	<div class="anime-cb-screen_footer-game">
		<button id="anime-cb-surrender" type="button" class="btn btn-primary anime-cb-button-stateless anime-cb-btn-main-menu">Surrender</button>
	</div>
	<div id="anime-cb-dice-wrapper-player1">
	</div>
	<div id="anime-cb-dice-wrapper-player2">
	</div>
</div>
</div>
</div>
</body></html>

<script type="text/javascript">

$('.anime-cb-screen-game').on('mousemove', '.anime-cb-card-onfield', function(e) {
	$('#anime-cb-card-info-card').attr("src", $(this).attr("src"));
	$('#anime-cb-card-info-card').css("border", "1px solid white");
	$('#anime-cb-card-info-text').text($(this).data("cardText") || "");
});

// $('.anime-cb-card-onfield').mouseout(function(e) {
// 	$('#anime-cb-card-info-card').attr("src", "imgs/player_cards/card_back.png");
// 	$('#anime-cb-card-info-card').css("border", "");
// 	$('#anime-cb-card-info-text').text("");
// });

function fillInfoCard (cardEl) {
  $('#anime-cb-card-info-card').attr("src", $(cardEl).attr("src"));
  $('#anime-cb-card-info-card').css("border", "1px solid white");
  $('#anime-cb-card-info-text').text($(cardEl).data("cardText") || "");
}

$('.anime-cb-screen-game').on('mousemove mouseover', '.anime-cb-card', handleMove);
function handleMove(e) {
  const xVal = e.offsetX;
  const yVal = e.offsetY;

  const height = $(this).height();
  const width = $(this).width();

  const yRotation = 20 * ((xVal - width / 2) / width);
  const xRotation = -20 * ((yVal - height / 2) / height);

  const string = 'perspective(500px) scale(1.1) rotateX(' + xRotation + 'deg) rotateY(' + yRotation + 'deg) translateZ(0)';

  $(this).css("transform", string);

  fillInfoCard(this);

  $('.anime-cb-cards-in-hand').css("overflow", "visible");
}

$('.anime-cb-screen-game').on('mouseout', '.anime-cb-card', function() {
  $(this).css("transform", "perspective(500px) scale(1) rotateX(0) rotateY(0) translateZ(0)");
  	//$('#anime-cb-card-info-card').attr("src", "imgs/player_cards/card_back.png");
	//$('#anime-cb-card-info-card').css("border", "");
	//$('#anime-cb-card-info-text').text("");
	$('.anime-cb-cards-in-hand').css("overflow", "hidden");
});

$('.anime-cb-screen-game').on('mousedown', '.anime-cb-card', function() {
  $(this).css("transform", "perspective(500px) scale(0.9) rotateX(0) rotateY(0) translateZ(0)");
});

$('.anime-cb-screen-game').on('mouseup', '.anime-cb-card', function() {
  $(this).css("transform", "perspective(500px) scale(1.1) rotateX(0) rotateY(0) translateZ(0)");
});

// don't allow scroll on when hovering on cards in hand
$('.anime-cb-cards-in-hand').on('DOMMouseScroll mousewheel', function(e) {
    var $this = $(this),
        scrollTop = this.scrollTop,
        scrollHeight = this.scrollHeight,
        height = $this.height(),
        delta = (e.type == 'DOMMouseScroll' ?
            e.originalEvent.detail * -40 :
            e.originalEvent.wheelDelta),
        up = delta > 0;

    var prevent = function() {
        e.stopPropagation();
        e.preventDefault();
        e.returnValue = false;
        return false;
    }

    if (!up && -delta > scrollHeight - height - scrollTop) {
        $this.scrollTop(scrollHeight);
        return prevent();
    } else if (up && delta > scrollTop) {
        $this.scrollTop(0);
        return prevent();
    }
});

var boardPath = [[4, 0], [4, 1], [4, 2], [3, 2], [3, 3], [3, 4], [4, 4], [5, 4], [5, 5], [5, 6], [4, 6], [4, 7], [4, 8], [4, 9], [4, 10],
  	  [4, 11], [4, 12], [4, 13], [4, 14], [4, 15], [4, 16], [4, 17], [4, 18], [4, 19]];
var boardMatrix = [[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],[0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],[1,1,1,0,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1],[0,0,0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0],[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]];

function moveYourCharacter(res) {
  setTimeout(function() {
    var diceRoll = res[0];

    var columnIndex = $('#anime-cb-player-you-position').parent()[0].cellIndex;
    var rowIndex = $('#anime-cb-player-you-position').closest('tr')[0].rowIndex;
    var currBoardIndex;

    for (var k = 0; k < boardPath.length; k++) {
  	  var boardPos = boardPath[k];

  	  if (rowIndex == boardPos[0] && columnIndex == boardPos[1]) {
  		currBoardIndex = k;

  		if (boardPath[currBoardIndex + diceRoll] === undefined) {
  			$('#anime-cb-phase-roll').one('click', rollDiceWithValues);
  			return;
  		}

  		for (var i = 0; i < diceRoll; i++) {
		  if (boardPath[currBoardIndex + 1][0] != rowIndex) {
		    if (boardPath[currBoardIndex + 1][0] < rowIndex) {
		  	  $('#anime-cb-player-you-position').animate({'margin-top': '-=50px'}, 400, null, incrementAnimsUpdateBoard);
		  	} else {
		  	  $('#anime-cb-player-you-position').animate({'margin-top': '+=50px'}, 400, null, incrementAnimsUpdateBoard);
		  	}
		  }

		  if (boardPath[currBoardIndex + 1][1] != columnIndex) {
		    if (boardPath[currBoardIndex + 1][1] < columnIndex) {
		      $('#anime-cb-player-you-position').animate({'margin-left': '-=50px'}, 400, null, incrementAnimsUpdateBoard);
		    } else {
		      $('#anime-cb-player-you-position').animate({'margin-left': '+=50px'}, 400, null, incrementAnimsUpdateBoard);
		  	}
		  }

		  rowIndex = boardPath[currBoardIndex + 1][0];
		  columnIndex = boardPath[currBoardIndex + 1][1];
		  currBoardIndex++;
	 	}

	 	 break;
  	  }
    }

    var animsCounter = 0;

    function incrementAnimsUpdateBoard() {
  	  animsCounter++;

  	  if (animsCounter == diceRoll) {
		$('#anime-cb-player-you-position').remove();
		var currPlayerTd = document.getElementById('anime-cb-board').rows[rowIndex].cells[columnIndex];
		$(currPlayerTd).html('<span id="anime-cb-player-you-position"></span>');

		$('#anime-cb-phase-roll').one('click', rollDiceWithValues);
  	  }
    }
  }, 2000);
}

function moveEnemyCharacter(res) {
  setTimeout(function() {
    var diceRoll = res[0];

    var columnIndex = $('#anime-cb-player-enemy-position').parent()[0].cellIndex;
    var rowIndex = $('#anime-cb-player-enemy-position').closest('tr')[0].rowIndex;
    var currBoardIndex;

    for (var k = 0; k < boardPath.length; k++) {
  	  var boardPos = boardPath[k];

  	  if (rowIndex == boardPos[0] && columnIndex == boardPos[1]) {
  		currBoardIndex = k;

  		if (currBoardIndex - diceRoll < 0) {
  			$('#anime-cb-phase-roll').one('click', rollDiceWithValues);
  			return;
  		}

  		for (var i = 0; i < diceRoll; i++) {
		  if (boardPath[currBoardIndex - 1][0] != rowIndex) {
		    if (boardPath[currBoardIndex - 1][0] < rowIndex) {
		  	  $('#anime-cb-player-enemy-position').animate({'margin-top': '-=50px'}, 400, null, incrementAnimsUpdateBoard);
		  	} else {
		  	  $('#anime-cb-player-enemy-position').animate({'margin-top': '+=50px'}, 400, null, incrementAnimsUpdateBoard);
		  	}
		  }

		  if (boardPath[currBoardIndex - 1][1] != columnIndex) {
		    if (boardPath[currBoardIndex - 1][1] < columnIndex) {
		      $('#anime-cb-player-enemy-position').animate({'margin-left': '-=50px'}, 400, null, incrementAnimsUpdateBoard);
		    } else {
		      $('#anime-cb-player-enemy-position').animate({'margin-left': '+=50px'}, 400, null, incrementAnimsUpdateBoard);
		  	}
		  }

		  rowIndex = boardPath[currBoardIndex - 1][0];
		  columnIndex = boardPath[currBoardIndex - 1][1];
		  currBoardIndex--;
	 	}

	 	 break;
  	  }
    }

    var animsCounter = 0;

    function incrementAnimsUpdateBoard() {
  	  animsCounter++;

  	  if (animsCounter == diceRoll) {
		$('#anime-cb-player-enemy-position').remove();
		var currPlayerTd = document.getElementById('anime-cb-board').rows[rowIndex].cells[columnIndex];
		$(currPlayerTd).html('<span id="anime-cb-player-enemy-position"></span>');

		$('#anime-cb-phase-roll').one('click', rollDiceWithValues);
  	  }
    }
  }, 2000);
}

function rollDiceWithValues() {
  var element = document.getElementById('anime-cb-dice-wrapper-player1');
  var numberOfDice = 1;
  var options = {
    element,
    numberOfDice,
    delay: 1500,
    // values: [1,2,3,4,5,6],
    callback: moveEnemyCharacter
  };
  rollADie(options);
}

$('#anime-cb-phase-roll').one('click', rollDiceWithValues);

$('.anime-cb-cards-in-hand-wrapper.player-you').on('click', '.anime-cb-card', function(e) {
	var cardSrc = $(this).attr("src");
	var cardText = $(this).data("cardText")
	var card = this;

	$('.anime-cb-card-field.player-you td').each(function(idx) {
		if (!$(this).find('img').length) {
			$(this).css("-webkit-animation", "roll-in-bottom 0.6s ease-out both");
			$(this).css("animation", "roll-in-bottom 0.6s ease-out both");
			$(this).html('<img class="anime-cb-card-onfield player-you" data-card-text="' + cardText + '" src="' + cardSrc + '">');
			$('.anime-cb-cards-in-hand').css("overflow", "hidden");
			$(card).remove();

			setTimeout(function() {
				$(this).css("animation", "");
				$(this).css("-webkit-animation", "");
			}.bind(this), 500);

			return false;
		}
	});
});

// This will not be on click but just for test
$('.anime-cb-cards-in-hand-wrapper.player-enemy').on('click', '.anime-cb-card', function(e) {
	var cardSrc = $(this).attr("src");
	var cardText = $(this).data("cardText")
	var card = this;

	$('.anime-cb-card-field.player-enemy td').each(function(idx) {
		if (!$(this).find('img').length) {
			$(this).css("-webkit-animation", "roll-in-top 0.6s ease-out both");
			$(this).css("animation", "roll-in-top 0.6s ease-out both");
			$(this).html('<img class="anime-cb-card-onfield player-enemy" data-card-text="' + cardText + '" src="' + cardSrc + '">');
			$('.anime-cb-cards-in-hand').css("overflow", "hidden");
			$(card).remove();

			setTimeout(function() {
				$(this).css("animation", "");
				$(this).css("-webkit-animation", "");
			}.bind(this), 500);

			return false;
		}
	});
});
</script>